<div>
  <div>Selected:
    <label id="array">

    </label>
  </div>
  <div *ngFor="let item of tree_">
      <label (click)="item.ifdrop = !item.ifdrop">X</label>
      <app-checkbox (change)="item.ifchecked = !item.ifchecked; fn(item.value)"></app-checkbox>
      {{item.value}}
      <div *ngIf="item.ifdrop">
        <div *ngFor="let item2 of item.children">
          <app-checkbox [checked]="item.ifchecked" (change)="fn(item2.value)"></app-checkbox>
          {{item2.value}}
        </div>
      </div>
  </div>
</div>
